/* Устанавливаем настройки для всех элементов на веб-странице */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Устанавливаем настройки для элементов HTML и body */
html, body {
    height: 100%;
    overflow: hidden;
}

/* Устанавливаем общие стили для body (тела документа) */
body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.58;
    color: #FFF;
    background-color: #662549;
    height: 100%;
}

/* Стиль для элемента, помеченного классом "clearfix" */
.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

/* Стиль для элементов, помеченных классом "hidden" */
.hidden {
    display: none;
}

/* Стиль для элемента с классом "form-control" (обычно это поля ввода) */
.form-control {
    width: 100%;
    min-height: 38px;
    font-size: 15px;
    border: 1px solid #662549;
}

/* Стиль для элемента с классом "form-group" (группа элементов формы) */
.form-group {
    margin-bottom: 15px;
}

/* Стиль для всех элементов <input> */
input {
    padding-left: 10px;
    outline: none;
}

/* Стиль для заголовков разных уровней */
h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Стиль для элементов <h1> */
h1 {
    font-size: 1.7em;
}

/* Стиль для всех гиперссылок (<a>) на веб-странице */
a {
    color: #E8BCB9;
}

/* Стиль для всех кнопок на веб-странице */
button {
    box-shadow: none; /* Убираем тень */
    border: 1px solid transparent; /* Убираем границу (по умолчанию) */
    font-size: 14px; /* Размер шрифта */
    outline: none; /* Убираем контурные обводки при фокусе */
    line-height: 100%; /* Высота строки текста в процентах */
    white-space: nowrap; /* Запрещаем перенос текста на новую строку */
    vertical-align: middle; /* Вертикальное выравнивание по середине */
    padding: 0.6rem 1rem; /* Отступы внутри кнопки */
    border-radius: 2px; /* Скругление углов */
    transition: all 0.2s ease-in-out; /* Плавные анимации при изменении стилей */
    cursor: pointer; /* Курсор в виде указателя */
    min-height: 38px; /* Минимальная высота кнопки */
}

/* Стиль для кнопок с классом "default" (обычно для стандартных действий) */
button.default {
    background-color: #e8e8e8; /* Фоновый цвет */
    color: #333; /* Цвет текста */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12); /* Тень кнопки */
}

/* Стиль для кнопок с классом "primary" (обычно для основных действий) */
button.primary {
    background-color: #F39F5A; /* Фоновый цвет */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12); /* Тень кнопки */
    color: #fff; /* Цвет текста */
}

/* Стиль для кнопок с классом "accent" (обычно для действий, выделяющихся) */
button.accent {
    background-color: #db7d30; /* Фоновый цвет */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12); /* Тень кнопки */
    color: #fff; /* Цвет текста */
}

/* Стиль для элемента с id "username-page" (центрирование текста) */
#username-page {
    text-align: center;
}

/* Стиль для контейнера с классом "username-page-container" */
.username-page-container {
    background: #AE445A; /* Фоновый цвет контейнера */
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27); /* Тень контейнера */
    border-radius: 2px; /* Скругление углов */
    width: 100%; /* Ширина контейнера на всю ширину экрана */
    max-width: 500px; /* Максимальная ширина контейнера */
    display: inline-block; /* Отображение как блочный элемент внутри контейнера */
    margin-top: 42px; /* Отступ сверху */
    vertical-align: middle; /* Вертикальное выравнивание по середине */
    position: relative; /* Позиция относительно своего контейнера-родителя */
    padding: 35px 55px 35px; /* Отступы внутри контейнера */
    min-height: 250px; /* Минимальная высота контейнера */
    position: absolute; /* Позиция — абсолютная */
    top: 50%; /* Располагаем верхний край по центру экрана */
    left: 0;
    right: 0;
    margin: 0 auto; /* Горизонтальное центрирование */
    margin-top: -200px; /* Компенсация половины высоты контейнера для вертикального центрирования */
}
/* Стиль для заголовка "Login" (h1) */
h1.title {
    margin-top: 10px; /* Увеличиваем верхний отступ заголовка */
}

/* Стиль для кнопки "Submit" с классом "accent" */
button.accent.username-submit {
    margin-top: 10px; /* Увеличиваем верхний отступ кнопки */
}

/* Стиль для гиперссылки с классом "login-link" */
a.login-link {
    margin-top: 10px; /* Увеличиваем верхний отступ гиперссылки */
}
.username-page-container .username-submit {
    margin-top: 10px; /* Отступ сверху для элемента с классом "username-submit" */
}

/* Стиль для элемента с id "chat-page" */
#chat-page {
    position: relative; /* Позиция относительно своего контейнера-родителя */
    height: 100%; /* Высота 100% */
}

/* Стиль для контейнера чата с классом "chat-container" */
.chat-container {
    max-width: 700px; /* Максимальная ширина контейнера */
    margin-left: auto; /* Горизонтальное центрирование контейнера */
    margin-right: auto; /* Горизонтальное центрирование контейнера */
    background-color: #fff; /* Фоновый цвет контейнера */
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27); /* Тень контейнера */
    margin-top: 30px; /* Отступ сверху */
    height: calc(100% - 60px); /* Высота контейнера вычисляется на основе высоты экрана минус 60px */
    max-height: 600px; /* Максимальная высота контейнера */
    position: relative; /* Позиция относительно своего контейнера-родителя */
}

/* Стиль для списка <ul> внутри элемента с id "chat-page" */
#chat-page ul {
    list-style-type: none; /* Убираем маркеры списка */
    background-color: #FFF; /* Фоновый цвет списка */
    margin: 0; /* Убираем внешние отступы списка */
    overflow: auto; /* Включаем прокрутку при переполнении */
    overflow-y: scroll; /* Включаем вертикальную прокрутку */
    padding: 0 20px 0px 20px; /* Отступы внутри списка */
    height: calc(100% - 150px); /* Высота списка вычисляется на основе высоты экрана минус 150px */
}

/* Стиль для формы с id "messageForm" внутри элемента с id "chat-page" */
#chat-page #messageForm {
    padding: 20px; /* Отступы внутри формы */
}

/* Стиль для элементов <li> в списке с id "chat-page" */
#chat-page ul li {
    line-height: 1.5rem; /* Высота строки списка */
    padding: 10px 20px; /* Отступы внутри элементов списка */
    margin: 0; /* Убираем внешние отступы элементов списка */
    border-bottom: 1px solid #f4f4f4; /* Горизонтальная линия под элементами списка */
}

/* Стиль для абзацев <p> внутри элементов <li> в списке с id "chat-page" */
#chat-page ul li p {
    margin: 0; /* Убираем внешние отступы абзацев */
}

/* Стиль для элементов с классом "event-message" */
#chat-page .event-message {
    width: 100%; /* Ширина элементов */
    text-align: center; /* Центрирование текста */
    clear: both; /* Запрет обтекания элемента с обеих сторон */
}

/* Стиль для абзацев <p> внутри элементов с классом "event-message" */
#chat-page .event-message p {
    color: #777; /* Цвет текста */
    font-size: 14px; /* Размер шрифта */
    word-wrap: break-word; /* Разрыв слов при нехватке места */
}

/* Стиль для элементов с классом "chat-message" */
#chat-page .chat-message {
    padding-left: 68px; /* Отступ слева */
    position: relative; /* Позиция относительно своего контейнера-родителя */
}

/* Стиль для элементов <i> внутри элементов с классом "chat-message" */
#chat-page .chat-message i {
    position: absolute; /* Позиция — абсолютная */
    width: 42px; /* Ширина элемента */
    height: 42px; /* Высота элемента */
    overflow: hidden; /* Скрытие избыточного контента */
    left: 10px; /* Отступ слева */
    display: inline-block; /* Отображение как блочный элемент */
    vertical-align: middle; /* Вертикальное выравнивание по середине */
    font-size: 18px; /* Размер шрифта */
    line-height: 42px; /* Высота строки текста */
    color: #fff; /* Цвет текста */
    text-align: center; /* Центрирование текста */
    border-radius: 50%; /* Скругление углов (делает элемент круглым) */
    font-style: normal; /* Определение стиля шрифта */
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
}

/* Стиль для текста внутри элементов с классом "chat-message" и тега <span> */
#chat-page .chat-message span {
    color: #333; /* Цвет текста */
    font-weight: 600; /* Жирный шрифт (600 - средний жир) */
}

/* Стиль для текста внутри элементов с классом "chat-message" и тега <p> */
#chat-page .chat-message p {
    color: #43464b; /* Цвет текста */
}

/* Стиль для ввода текста внутри элемента с id "messageForm" и классом "input-group" */
#messageForm .input-group input {
    float: left; /* Выравнивание влево */
    width: calc(100% - 85px); /* Ширина вычисляется на основе 100% минус 85px */
}

/* Стиль для кнопки внутри элемента с id "messageForm" и классом "input-group" */
#messageForm .input-group button {
    float: left; /* Выравнивание влево */
    width: 80px; /* Ширина кнопки */
    height: 38px; /* Высота кнопки */
    margin-left: 5px; /* Отступ слева */
}

/* Стиль для заголовка чата с классом "chat-header" */
.chat-header {
    text-align: center; /* Центрирование текста */
    padding: 15px; /* Отступы внутри элемента */
    border-bottom: 1px solid #ececec; /* Горизонтальная линия снизу */
}

/* Стиль для заголовка чата с классом "chat-header" и тега <h2> */
.chat-header h2 {
    margin: 0; /* Убираем внешние отступы */
    font-weight: 500; /* Жирный шрифт (500 - средний жир) */
}

/* Стиль для элемента с классом "connecting" */
.connecting {
    padding-top: 5px; /* Отступ сверху */
    text-align: center; /* Центрирование текста */
    color: #777; /* Цвет текста */
    position: absolute; /* Позиция — абсолютная */
    top: 65px; /* Отступ сверху */
    width: 100%; /* Ширина 100% */
}

/* Медиазапрос для экранов с шириной до 730px */
@media screen and (max-width: 730px) {
    .chat-container {
        margin-left: 10px; /* Отступ слева */
        margin-right: 10px; /* Отступ справа */
        margin-top: 10px; /* Отступ сверху */
    }
}

/* Медиазапрос для экранов с шириной до 480px */
@media screen and (max-width: 480px) {
    .chat-container {
        height: calc(100% - 30px); /* Высота контейнера вычисляется на основе высоты экрана минус 30px */
    }

    .username-page-container {
        width: auto; /* Автоматическая ширина */
        margin-left: 15px; /* Отступ слева */
        margin-right: 15px; /* Отступ справа */
        padding: 25px; /* Отступы внутри контейнера */
    }

    #chat-page ul {
        height: calc(100% - 120px); /* Высота списка вычисляется на основе высоты экрана минус 120px */
    }

    #messageForm .input-group button {
        width: 65px; /* Ширина кнопки */
    }

    #messageForm .input-group input {
        width: calc(100% - 70px); /* Ширина вычисляется на основе 100% минус 70px */
    }

    .chat-header {
        padding: 10px; /* Отступы внутри заголовка чата */
    }

    .connecting {
        top: 60px; /* Отступ сверху */
    }

    .chat-header h2 {
        font-size: 1.1em; /* Размер шрифта заголовка чата */
    }
}
